.vscode/
.empty/
__pycache__/
wandb/
tensorboard/

Open3D/
*ipynb*

*.ply
*.pyc
*.png
*.ckpt

obj_cls/classification_ModelNet40/checkpoints/
obj_cls/classification_ModelNet40/data/
obj_cls/classification_ModelNet40/pointnet2_ops_lib/build/
obj_cls/classification_ModelNet40/pointnet2_ops_lib/pointnet2_ops.egg-info/
!obj_cls/classification_ModelNet40/data/.gitkeep